body {
    display:flex;
    justify-content: center;    
    /* background-color: #fafafa; */
    background-color: rgb(252, 251, 237);
}

.mainContainer {  display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;   
    /* background-color: rgb(252, 251, 237); */
    background-color: white;
}

h1 {
    border-bottom: 3px solid black;
}

h2 {
    padding-left: 10px;
}

.recipe {
    display:flex;
    align-items: center;
    
}

.photo {
    height:800px;
    padding-top:25px;
    max-width:1200px;
   
}

.description {
    border: 1px solid black;
    width:1000px;
    padding: 15px;
    margin: 35px 0px 25px 0px;
    /* background-color: rgba(252, 252, 252, 0.753) */
    background-color: rgb(252, 251, 237);
}

.directions {
    flex-shrink: 15;
    margin: 50px 25% 0px 100px;
    width:700px;    
}

.ingredients {
    border: 1px solid black;
    /* background-color: rgba(252, 252, 252, 0.753); */
    background-color: rgba(238, 238, 225, 0.514);
    margin-left: 15px;
}

.note {
    font-size: 15px;
    width:400px;
    align-self: flex-start;
    margin-left: 25px;
}

.recipeList {
    display:flex;
    gap:25px;
    flex-direction: row;
    border: 1px solid black;
    padding: 100px;
    border-radius: 30px;
    margin-top:50px;
    /* background-color: rgba(252, 252, 252, 0.753) */
    background-color: rgb(252, 251, 237);
}